
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
  color: white;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

footer {
  margin-top: 40px;
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

footer p {
  font-size: 1rem;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

footer p:hover {
  color: #00c6ff;
  text-shadow: 0 0 15px #00c6ff, 0 0 30px rgba(0, 198, 255, 0.8);
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 300px; /* Adjusted for wider cards */
  margin: 20px auto; /* Centering the card */
  color: #ffffff;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2), 0 0 15px rgba(32, 156, 238, 0.8);
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.card p {
  font-size: 1rem;
  color: #e0e0e0;
}

.card p:hover {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
}

/* Input field and button styles */
.input-field {
  padding: 10px;
  width: 100%;
  max-width: 250px; /* Adjust for card width */
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.action-button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00c6ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0095e0;
}


